<section class="login">
    <h2 class="login__header">Вход</h2>
    {{#> Form}}
    <div class="login__input-container">
        {{> Input label="login" }}
        {{> Input label="password" }}
    </div>
    <div class="login__btn-container">
        {{> Button label="Авторизоваться" classType="primary" page="chat"}}
        {{> Button label="Нет аккаунта?" classType="secondary" page="register"}}
    </div>
    {{/Form}}
</section>
