<section class="login">
    <h2 class="login__header">Вход</h2>
    {{#> Form}}
    <div class="login__input-container">
        {{> Input label="login" }}
        {{> Input label="password" }}
    </div>
    <div class="login__btn-container">
        <a href="../chat/index.ts">
              {{> Button label="Авторизоваться" classType="primary" page="chat"}}
        </a>
  <a href="../register/index.ts">
       {{> Button label="Нет аккаунта?" classType="secondary" page="register"}}
  </a>
   
    </div>
    {{/Form}}
</section>
