.button {
  background-color: $color-light-blue-A800;
  border: none;
  border-radius: 8px;
  color: $color-white;
  cursor: pointer;
  font-size: 13px;
  font-weight: $font-weight-medium;
  padding: 12px;
  transition: all ease .3s;

  &:hover {
    background-color: $color-light-blue-A600;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%) inset, 0 4px 4px 0 rgb(0 0 0 / 25%);
    transition: all ease .3s;
  }

  &__secondary {
    background-color: transparent;
    color: $color-light-blue-A800;

    &:hover {
      background-color: transparent;
    }
  }
}
