.link {
  &__button {
    background-color: $color-light-blue-A800;
    border: none;
    border-radius: 6px;
    color: $color-white;
    cursor: pointer;
    font-size: 12px;
    font-weight: $font-weight-medium;
    padding: 11px;
    text-decoration: none;

    &:hover {
      background-color: $color-light-blue-A600;
    }
  }
  
  &__button-secondary {
    background-color: transparent;
    color: $color-light-blue-A800;

    &:hover {
      background-color: transparent;
    }
  }
}
