@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin size($height, $width) {
	height: $height;
	width: $width;
}

@mixin text-format($font-weight, $font-size, $line-height) {
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

@mixin chat-input {
  border: none;
  background-color: $color-gray-300;
  padding: 10px 12px;
}


@mixin remove-scroll-bar {
  & {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: 0 none;
  }
}
