<div class='input-profile'>
  <label class='input-profile__container'>
    <div class='input-profile__label'> {{label}}</div>
    <input class='input-profile__element' placeholder='{{value}}' />
  </label>
</div>
