.navigation {
  &__block {
    height: 100%;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 100vh;
  }

  &__button {
    font-size: 15px;
    display: block;
    text-align: center;
    width: 200px;
  }
}
