<section class="not-found">
    {{> Error error_code='404' error_text="Не туда попали"}}
    <a href="../../login/index.ts">
        {{> Button label="Назад" classType="secondary" page="login"}}
    </a>


</section>
