<section class="server-error">
    {{> Error error_code="500" error_text="Мы уже фиксим"}}
    <a href="'../../../../chat/index.ts">
        {{> Button label="Назад к чатам" classType="secondary" page="chat"}}
    </a>

</section>
