<section class="profile-change-password">
    {{>Avatar avatar=avatar label="Иван"}}
    <div class="profile__content">
        {{> Info label="oldPassword" value="oldPassword" }}
        {{> Info label="newPassword" value="newPassword" }}
        {{> Info label="Повторите пароль" value="повторите пароль" }}
    
          
    </div>

    <div class="profile__btn-container">
        {{> Button label="Сохранить" classType="primary" page="chat"}}
    </div>

</section>