<section class="profile-change-password">
    {{>Avatar avatar=avatar label="Иван"}}
    {{#> Form}}
    <div class="profile__content">
        {{> InputProfile label="oldPassword" value="oldPassword" }}
        {{> InputProfile label="newPassword" value="newPassword" }}
        {{> InputProfile label="Повторите пароль" value="повторите пароль" }}
    </div>
    <div class="profile__btn-container">
    {{> Button label="Сохранить" classType="primary" page="chat"}}
    </div>
     {{/Form}}
</section>
