<div class="content__letters letters">
  {{#each rangeMessages}} 
    <div class="letters__block">
      <p class="letters__date">
        {{date}}
      </p>

      <ul class="letters__list">
        {{#each letters}}
          <li class="letters__item letter 
            {{#unless text}}letter--picture{{/unless}} 
            {{#if isMine}}letter--mine{{/if}}"
          >
            {{#if image}}
              <img 
                class="letter__image {{#unless text}}letter__image--only{{/unless}}"
                src="{{image}}" 
                alt="photo" 
              />
            {{/if}}

            {{#if text}}                      
              <p class="letter__text">
                {{text}}
              </p>
            {{/if}}
              
            <p class="letter__time {{#unless text}} letter__time--picture{{/unless}}">
              {{createdDate}}
            </p>
          </li>   
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
