<form 
  class="profile__form form"
  onsubmit="event.preventDefault()"
>
  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="oldPassword"
    >
      Старый пароль
    </label>

    {{{OldPasswordInput}}}
  </div>
  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="newPassword"
    >
      Новый пароль
    </label>

    {{{NewPasswordInput}}}
  </div>


  <div class="profile__form-item">
    <label 
      class="profile__label"
      for="newPasswordRepeat"
    >
      Повторите новый пароль
    </label>

    {{{NewPasswordRepeatInput}}}
  </div>

  {{#if isEdit}}
    {{{SaveButton}}}
  {{/if}}
</form>
